<section id="orders">
    <h1>Kunder</h1>


     
    <table id="customerTable" class="table table-striped sortable selectable responsive-table-text">
        <thead>
            <tr>    
                <th data-value="name" data-type="text">Namn</th>
                <th data-value="address" data-type="text">Address</th>
                <th data-value="nrOfOrders" data-type="text">Antal beställningar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Tabell data laddas dynamiskt -->
        </tbody>
    </table>

    <p>
        <div class="collapse" id="collapseFilters">
            <div class="card card-body">
                <label>Antal Beställningar:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">Färre än:</span>
                    <input id="lessOrdersThan" type="number" class="form-control" placeholder="Antal beställningar">
                    <div class="input-group-text">
                        <input id="lessOrdersThanCheckBox" class="form-check-input mt-0" type="checkbox" value="">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Fler än:</span>
                    <input id="moreOrdersThan" type="number" class="form-control" placeholder="Antal beställningar">
                    <div class="input-group-text">
                        <input id="moreOrdersThanCheckBox" class="form-check-input mt-0" type="checkbox" value="">
                    </div>
                </div>
            </div>
        </div>
    </p>


    <div class="text-end">
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters">Filter</button>
        <button id="updateCustomerModalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateCustomerModal">Ändra</button>
    </div>

    <!-- Ändra order Modal -->
    <div class="modal fade" id="updateCustomerModal" tabindex="-1" aria-labelledby="updateCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        </div>
    </div>

</section>

