header {
    border-bottom: 1px solid var(--bs-gray-500);
}

#title {
    padding-top:30px;
}

#title * {
    display:inline-block;
}
#title h5 {
    color: var(--bs-gray-600);
}

.roadBar {
    height: 31px;
    background-color:var(--bs-gray-600);
    border-radius: 5px;
    border-top: 2px dashed var(--bs-gray-100);
    border-bottom: 2px dashed var(--bs-gray-100);
}

.roadBar div {
    height: 15px;
    border-bottom:3px dashed var(--bs-gray-100);
}

#homeButton {
    font-size: 250%;
    padding:0px;
    margin-top:-10px;
    
}

#content {
    margin:40px 0px;
}

/* Sortable table styling */
@media screen and (max-width: 300px) {
    .responsive-table-text {
        font-size: 5vw;
    }
}


.sortable th:hover {
    cursor: pointer;
}

.sortable th {
    width:0px;
}

th[data-order=ASC]::after {
    content: " ▲";
}

th[data-order=DESC]::after {
    content: " ▼";
}


.selectable tbody tr:hover {
    background-color:var(--bs-table-hover-bg);
    cursor: pointer;
}

.selectable tbody tr[data-selected=true] {
    background-color:var(--bs-table-active-bg);
}

.form-group {
    margin:10px 0px;
}

div.successful-modal {
    color:#3c763d;
    background-color: #dff0d8;
    border-bottom:1px solid var(--bs-success);
}

div.danger-modal {
    color:#a94442;
    background-color: #f2dede;
    border-bottom:1px solid #ebccd1;
}

div.warning-modal {
    color: #664d03;
    background-color: #fff3cd;
    border-bottom:1px solid #ffecb5;
}

.logged-in {
    visibility: hidden;
}

.lessThanRow {
    display: none;
}

.moreThanRow {
    display: none;
}

