<section id="cars">
    <h1>Bilar</h1>

    <table id="carTable" class="table table-striped sortable selectable responsive-table-text">
        <thead>
            <tr>    
                <th data-value="name" data-type="text">Bilnamn</th>
                <th data-value="model" data-type="text">Storlek</th>
                <th data-value="pricePerDay" data-type="number">Pris/dag</th>
            </tr>
        </thead>
        <tbody>
            <!-- Tabell data laddas dynamiskt -->
        </tbody>
    </table>

    <div class="text-end">
        <button id="deleteCarOpenModalBtn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#CarModal">Ta bort</button>
        <button id="updateCarOpenModalBtn" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#CarModal">Ändra</button>
        <button id="createCarOpenModalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CarModal">Skapa ny</button>
    </div>


    
    <!-- Bil Modal -->
    <div class="modal fade" id="CarModal" tabindex="-1" aria-labelledby="CarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            
        </div>
    </div>
    
</section>