<div class="modal-content">      
    <div class="modal-header danger-modal">
        <h5 class="modal-title" id="deleteCarModalLabel">Ta bort Bil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="needs-validation">
            <div class="form-group">
                <div data-objectid="" class="selectedForm">
                </div>                          
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
        <button type="button" class="btn btn-danger" id="deleteCarSubmitBtn">Ta bort bil</button>
    </div>
</div>