<div class="modal-content">      
    <div class="modal-header">
        <h5 class="modal-title" id="updateCarModalLabel">Uppdatera Bil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form class="needs-validation">
            <div class="form-group">
                <label>Bilnamn: </label>
                <input id="carNameInput" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Storlek: </label>
                <select name="model" id="carModelInput" class="form-select" required>
                    <option value="SMALL">SMALL</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="LARGE">LARGE</option>
                </select>
            </div>
            <div class="form-group">
                <label>Pris per dag: </label>
                <input id="carPricePerDayInput" class="form-control" type="text" required>
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
        <button type="button" class="btn btn-primary" id="updateCarSubmitBtn">Uppdatera</button>
    </div>
</div>