<section id="orders">
    <h1>Ordrar</h1>
    <table id="ordertable" class="table table-striped sortable selectable responsive-table-text">
        <thead>
            <tr>    
                <th data-value="car.name" data-type="text">Bil</th>
                <th data-value="customer.name" data-type="text">Kund</th>
                <th data-value="startDate" data-type="text">Startdatum</th>
                <th data-value="stopDate" data-type="text">Stoppdatum</th>
            </tr>
        </thead>
        <tbody>
            <!-- Tabell data laddas dynamiskt -->
        </tbody>
    </table>


    <div class="text-end">
        <button id="updateOrderModalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateOrderModal">Ändra</button>
    </div>

    <!-- Ändra order Modal -->
    <div class="modal fade" id="updateOrderModal" tabindex="-1" aria-labelledby="orderCarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        </div>
    </div>

</section>

